<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ElementoMapper">
    <resultMap type='Element' id='ElementoResult'>
        <id property='id' column='id'/>
        <result property='name' column='"name"'/>
        <result property='description' column='description'/>
        <association property="idEquipment" javaType="Equipment" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.EquipoMapper.EquipoResult" columnPrefix='equipo_'/>
    </resultMap>
    <insert id="registrarElemento" parameterType="map">
        INSERT INTO element VALUES(#{elemento.id},#{elemento.name}, #{elemento.description} , #{elemento.id_equipment});
    </insert>
</mapper>