<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ElementoMapper">
    <resultMap type='Element' id='ElementoResult'>
        <id property='id' column='id'/>
        <result property='name' column='name'/>
        <result property='description' column='description'/>
        <result property="id_equipment" column="id_equipment"/>
        <result property='type' column='tipo'/>
        <result property='estado' column='estado'/>
    </resultMap>
    <insert id="registrarElemento" parameterType="map">
        INSERT INTO element VALUES(DEFAULT,#{elemento.name}, #{elemento.description} , #{elemento.id_equipment}, #{elemento.type}, #{elemento.estado});
    </insert>
    <select parameterType="map" id="consultarUltimoId" resultType="int">
        SELECT id FROM element ORDER BY id DESC LIMIT 1; 
    </select>
    <select parameterType="map" id="consultarElementoPorId" resultMap="ElementoResult">
        SELECT e.name, e.description, e.id_equipment, e.tipo, e.estado
        FROM element as e
        WHERE e.id = #{id};
    </select>
    <select parameterType="map" id="consultarElementos" resultMap="ElementoResult">
        SELECT e.id, e.name, e.description, e.id_equipment, e.tipo, e.estado
        FROM element as e;
    </select>
    <update parameterType="map" id="cambiarIdEquipo">
        UPDATE element  
        SET id_equipment = #{idEquipment}
        WHERE id = #{idElement};
    </update>
    <delete id="eliminarElementosPorId">
        DELETE FROM element as e WHERE e.id= #{id};
    </delete>
    <update parameterType="map" id="cambiarEstadoElementosId">
        UPDATE element 
        SET estado = #{estado}
        WHERE id = #{id};
    </update>
</mapper>