<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.EquipoMapper">
    <resultMap type='Equipment' id='EquipoResult'>
        <id property='id' column='id'/>
        <result property='element' column='element'/>
        <result property='name' column='name'/>
        <result property='description' column='description'/>
        <association property="laboratory" javaType="Laboratory" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.LaboratoryMapper.LaboratoryResult" columnPrefix='laboratorio_'/>
    </resultMap>
    <insert id="registrarEquipo" parameterType="map">
        INSERT INTO equipment VALUES(#{equipo.name}, #{equipo.description},#{equipo.laboratory_id});
    </insert>
</mapper>