<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.EquipoMapper">
    <resultMap type='Equipment' id='EquipoResult'>
        <id property='id' column='id'/>
        <result property='name' column='name'/>
        <result property='description' column='description'/>
        <result property="laboratory_id" column="laboratory_id"/>
        <result property="estado" column="estado"/>
    </resultMap>

    <!-- Insert new equipment  -->
    <insert id="registrarEquipo" parameterType="map">
        INSERT INTO equipment VALUES(DEFAULT,#{equipo.equipment_name}, #{equipo.description},#{equipo.laboratory_id}, #{equipo.estado});
    </insert>

    <!-- Select the equipments -->
    <select parameterType="map" id="consultarEquipos" resultMap="EquipoResult">
        SELECT e.id, e.equipment_name , e.description, e.laboratory_id, e.estado
        FROM equipment as e
        WHERE e.estado = 'ACTIVO';
    </select>

    <!-- Select the last id of element -->
    <select parameterType="map" id="consultarUltimoId" resultType="int">
        SELECT id FROM equipment ORDER BY id DESC LIMIT 1; 
    </select>
    <select parameterType="map" id="consultarEquipoPorId" resultMap="EquipoResult">
        SELECT e.id, e.equipment_name, e.description, e.laboratory_id
        FROM equipment  as e
        WHERE e.id = #{id}
    </select>
    <update parameterType="map" id="cambiarLaboratorio">
        UPDATE equipment
        SET laboratory_id = #{idLaboratory}
        WHERE id = #{idEquipment}
    </update>
    <!-- Count equipment with laboratory id -->
    <select parameterType="map" id="consultarNumeroEquipos" resultType="int">
        SELECT COUNT (*) FROM equipment WHERE laboratory_id = #{laboratory_id} ; 
    </select>
    <delete id="eliminarElementoPorId">
        DELETE FROM equipment as e WHERE e.id= #{id};
    </delete>
    <update parameterType="map" id="cambiarEstadoElementoId">
        UPDATE equipment 
        SET estado = #{estado}
        WHERE id = #{id};
    </update>
    <select id="consultarNombreEquipo" resultType="String">
        SELECT e.equipment_name FROM equipment e
        WHERE e.id = #{equipmentID};
    </select>
</mapper>