<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.EquipoMapper">
    <resultMap type='Equipment' id='EquipoResult'>
        <id property='id' column='id'/>
        <result property='element' column='element'/>
        <result property='name' column='name'/>
        <result property='description' column='description'/>
        <result property="laboratory_id" column="laboratory_id"/>
    </resultMap>

    <!-- Insert new equipment  -->
    <insert id="registrarEquipo" parameterType="map">
        INSERT INTO equipment VALUES(DEFAULT,#{equipo.name}, #{equipo.description},#{equipo.laboratory_id});
    </insert>

    <!-- Select the equipments -->
    <select parameterType="map" id="consultarEquipos" resultMap="EquipoResult">
        SELECT e.id, e.name , e.description, e.laboratory_id
        FROM equipment as e
    </select>

    <!-- Select the last id of element -->
    <select parameterType="map" id="consultarUltimoId" resultType="int">
        SELECT id FROM equipment ORDER BY id DESC LIMIT 1; 
    </select>

</mapper>