<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.LaboratoryMapper">
    <resultMap type='Laboratory' id='LaboratoryResult'>
        <id property='id' column='id'/>
        <result property='name' column='"name"'/>
        <result property='description' column='description'/>
    </resultMap>
    <insert id="registrarLaboratorio" parameterType="map">
        INSERT INTO laboratorio VALUES(DEFAULT,#{laboratorio.name}, #{laboratorio.description});
    </insert>
</mapper>