<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.LaboratoryMapper">
    <resultMap type='Laboratory' id='LaboratoryResult'>
        <id property='id' column='id'/>
        <result property='name' column='name'/>
        <result property='description' column='description'/>
        <result property='estado' column='estado'/>
        <result property='fecha_creacion' column='fecha_creacion'/>
        <result property='fecha_cierre' column='fecha_cierre'/>
    </resultMap>
    <insert id="registrarLaboratorio" parameterType="map">
        INSERT INTO laboratorio VALUES(DEFAULT,#{laboratorio.laboratory_name}, #{laboratorio.description},#{laboratorio.estado},#{laboratorio.fecha_creacion},#{laboratorio.fecha_cierre});
    </insert>
    <select resultType="int" id="consultarUltimoId">
        SELECT id FROM laboratorio ORDER BY id DESC LIMIT 1; 
    </select>
    <!-- Select the Laboratoy -->
    <select parameterType="map" id="consultarLaboratorios" resultMap="LaboratoryResult">
        SELECT e.id, e.laboratory_name , e.description,e.estado,e.fecha_creacion,e.fecha_cierre
        FROM laboratorio as e;
    </select>
    <select id="consultarNombreLaboratorio" resultType="String">
        SELECT l.laboratory_name FROM laboratorio l
        WHERE l.id = #{laboratorioID};
    </select>
    <select id="consultarIDLaboratorioPorNombre" resultType="Integer">
        SELECT l.id FROM laboratorio l
        WHERE l.laboratory_name = #{nombreLaboratorio};
    </select>
</mapper>