<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.NovedadMapper">
    <resultMap type='Novelty' id='NoveltyResult'>
        <id property='id' column='id'/>
        <result property='description' column='description'/>
        <result property='date' column='date'/>
        <association property="user_id" javaType="Usuario" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.UsuarioMapper.UsuarioResult" columnPrefix='usuario_'/>
        <association property="equipment_id" javaType="Equipment" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.EquipoMapper.EquipoResult" columnPrefix='equipo_'/>
    </resultMap>
    <insert id="registrarNovedad" parameterType="map">
        INSERT INTO novelty VALUES(DEFAULT,#{novedad.description}, #{novedad.title}, #{novedad.date} , #{novedad.user_id}, #{novedad.element_id},#{novedad.equipment_id});
    </insert>
</mapper>