<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.NovedadMapper">
    <resultMap type='Novelty' id='NoveltyResult'>
        <id property='id' column='id'/>
        <result property='description' column='description'/>
        <result property='date' column='date'/>
        <result property="laboratory_id" column="laboratory_id"/>
        <result property="equipment_id" column="equipment_id"/>
        <result property="element_id" column="element_id"/>
    </resultMap>
    <insert id="registrarNovedad" parameterType="map">
        INSERT INTO novelty VALUES(DEFAULT,#{novedad.description}, #{novedad.title}, #{novedad.date} , #{novedad.user_id} ,#{novedad.element_id},#{novedad.equipment_id}, #{novedad.laboratory_id});
    </insert>
    <select parameterType="map" id="consultarNovedades" resultMap="NoveltyResult">
        SELECT n.id, n.description, n.title, n.date, n.user_id, n.element_id, n.equipment_id, n.laboratory_id FROM novelty n
        ORDER BY n.id DESC;
    </select>
    <select parameterType="map" id="consultarNovedadesPorIDEquipo" resultMap="NoveltyResult">
        SELECT n.id, n.description, n.title, n.date, n.user_id, n.element_id, n.equipment_id, n.laboratory_id FROM novelty as n
        WHERE n.equipment_id = #{equipmentID};
    </select>
    <select parameterType="map" id="consultarNovedadesPorIDElemento" resultMap="NoveltyResult">
        SELECT n.id, n.description, n.title, n.date, n.user_id, n.element_id, n.equipment_id, n.laboratory_id FROM novelty as n
        WHERE n.element_id = #{elementID};
    </select>
    <select parameterType="map" id="consultarNovedadesPorIDLaboratorio" resultMap="NoveltyResult">
        SELECT n.id, n.description, n.title, n.date, n.user_id, n.element_id, n.equipment_id, n.laboratory_id FROM novelty as n
        WHERE n.laboratory_id = #{laboratorioID};
    </select>
</mapper>