<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.UsuarioMapper">
    <resultMap type='Usuario' id='UsuarioResult'>
        <id property='documento' column='documento'/>
        <result property='correo' column='correo'/>
        <result property='nombre' column='nombre'/>
        <result property='contraseña' column='contraseño'/>
        <result property='rol' column='rol'/>
    </resultMap>
    <insert id="registrarUsuario" parameterType="map">
        INSERT INTO usuario VALUES(#{usuario.documento}, #{usuario.correo} , #{usuario.nombre}, #{usuario.contraseña}, #{usuario.rol});
    </insert>
    <select id="consultarIdPorCorreo" parameterType="map" resultMap="UsuarioResult">
        select u.documento, u.correo, u.nombre, u.contraseña, u.rol from usuario u where u.correo = #{correo};
    </select>
</mapper>