<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties"/>
    <typeAliases>
        <typeAlias type="edu.eci.cvds.samples.entities.Usuario" alias="Usuario"/>
        <typeAlias type="edu.eci.cvds.samples.entities.Novelty" alias="Novelty"/>
        <typeAlias type="edu.eci.cvds.samples.entities.Laboratory" alias="Laboratory"/>
        <typeAlias type="edu.eci.cvds.samples.entities.Equipment" alias="Equipment"/>
        <typeAlias type="edu.eci.cvds.samples.entities.Element" alias="Element"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}"/>
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- Aca va lo que implementaré con nikolas papasito -->
    </mappers>
</configuration>